<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EXS</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/usersCards.css" />
</head>
<body>
    <header>
        <div id="insertNavMenu"></div>
    </header>
    <main>
        <figure class="snip1578">
          <img src="https://sun3-13.userapi.com/c849236/v849236904/1e42f7/ZvziNkRoknw.jpg" alt="" />
          <figcaption>
            <h3>Lyzhin Dmitry</h3>
            <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
              <a href="#"> <i class="ion-social-instagram-outline"></i></a>
              <a href="#"> <i class="ion-social-github"></i></a>
            </div>
          </figcaption>
        </figure>
    </main>

    <footer>
        <div id="insertFooter"></div>
    </footer>
    <script src="../static/nav_and_footer.js" type="text/javascript"></script>
</body>
</html>