<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../static/styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
{#        <link rel="stylesheet" href="../static/forGrid.css">#}
        <link rel="stylesheet" href="../static/usersCards.css">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">

        <title>CSS Grids Gallery</title>
    </head>
    <body>
        <header>
            <div id="insertNavMenu"></div>
        </header>
        <main>
            <div class="container">
                <div class="gallery">
                    <figure class="snip1578">
                      <img sizes="293px" src="https://sun3-13.userapi.com/c849236/v849236904/1e42f7/ZvziNkRoknw.jpg" alt="" />
                      <figcaption>
                        <h3>Lyzhin Dmitry</h3>
                        <div class="icons"><a href="https://twitter.com/TPro7101"><i class="ion-social-twitter"></i></a>
                          <a href="https://www.instagram.com/dmitrycs_/"> <i class="ion-social-instagram-outline"></i></a>
                          <a href="https://github.com/DmitryCS"> <i class="ion-social-github"></i></a>
                        </div>
                      </figcaption>
                    </figure>
                    <figure class="snip1578">
                      <img sizes="293px" src="https://sun9-43.userapi.com/c846322/v846322375/f4ed7/ma-VxFiV1lg.jpg" alt="" />
                      <figcaption>
                        <h3>Faizov Timur</h3>
                        <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
                          <a href="#"> <i class="ion-social-instagram-outline"></i></a>
                          <a href="#"> <i class="ion-social-github"></i></a>
                        </div>
                      </figcaption>
                    </figure>
                    <figure class="snip1578">
                      <img sizes="293px" src="https://sun9-45.userapi.com/c856016/v856016418/11853a/LWoaNjftxGA.jpg" alt="" />
                      <figcaption>
                        <h3>Dyomin Dmitry</h3>
                        <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
                          <a href="#"> <i class="ion-social-instagram-outline"></i></a>
                          <a href="#"> <i class="ion-social-github"></i></a>
                        </div>
                      </figcaption>
                    </figure>
                   <figure class="snip1578">
                      <img sizes="293px" src="https://sun9-8.userapi.com/c855532/v855532615/d7b1f/O5yPK_Af9dw.jpg" alt="" />
                      <figcaption>
                        <h3>Verezhnikov Vladislav</h3>
                        <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
                          <a href="#"> <i class="ion-social-instagram-outline"></i></a>
                          <a href="#"> <i class="ion-social-github"></i></a>
                        </div>
                      </figcaption>
                    </figure>
                    <figure class="snip1578">
                      <img src="https://sun9-56.userapi.com/c858132/v858132476/43a45/BRj4fWWCCOo.jpg" alt="" />
                      <figcaption>
                        <h3>Emelyanov Kirill</h3>
                        <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
                          <a href="#"> <i class="ion-social-instagram-outline"></i></a>
                          <a href="#"> <i class="ion-social-github"></i></a>
                        </div>
                      </figcaption>
                    </figure>
                    <figure class="snip1578">
                      <img src="https://sun9-10.userapi.com/c626621/v626621677/2b80/ikl_6LLh_VM.jpg" alt="" />
                      <figcaption>
                        <h3>Andreev Stas</h3>
                        <div class="icons"><a href="#"><i class="ion-social-twitter"></i></a>
                          <a href="#"> <i class="ion-social-instagram-outline"></i></a>
                          <a href="#"> <i class="ion-social-github"></i></a>
                        </div>
                      </figcaption>
                    </figure>
                </div>
            </div>
        </main>
    <script src="../static/nav_and_footer.js"></script>
    </body>
</html>