<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who am I?</title>
    <div id="insertNavMenu"></div>      
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>
<body>
    <h1>What I can do</h1>
    <p>Mostly anything related with technology. I love to work with anything that uses some kind of tech, old or new, and merge it. <!-- Well, I can also cook… ride a bicyicle, make gingerbread, drive a car, stay 50 seconds under the water, play videogames, make an animated bouncing ball, play the guitar, play drums, put on my own shoes. --></p>
    <h3>Platforms</h3>
    <p>I don’t think the platform is very important as I can virtually work with any tech. I believe the result is the most important thing. Still, here are some applications that I can work with:</p>
    <ul>
       <li>— Applications</li>
       <li>— Web/Mobile</li>
       <li>— Games (PC/Mobile)</li>
       <li>— Installations</li>
       <li>— Softwares</li>
    </ul>
    <h3>Can I do more?</h3>
    <p>If it is related to technology, I’m in! I love to learn and solve problems. As I always say: if it is worth it, then challenge accepted.</p>
    <h3>Where I am develop my skills now?</h3>
    <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.3021331511195!2d61.36800605161404!3d55.160489980302934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592bf621c12ff%3A0x1c9a71ba8ce48609!2z0K7QttC90L4t0KPRgNCw0LvRjNGB0LrQuNC5INCz0L7RgdGD0LTQsNGA0YHRgtCy0LXQvdC90YvQuSDRg9C90LjQstC10YDRgdC40YLQtdGC!5e0!3m2!1sru!2sru!4v1575819654484!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <div id="insertFooter"></div>
    <script src="../static/nav_and_footer.js" type="text/javascript"></script>
</body>
</html>