<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who am I?</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>
<body>
    <header>
        <div id="insertNavMenu"></div>
    </header>
    <main>
        <h1>Do I know any computer language?</h1>
        <p>There are some computer languages that I already know, but learning a new one is not a big deal.</p>
        <h3>Languages/Tools</h3>
        <ul>
            <li>— C, C++</li>
            <li>— C#</li>
            <li>— Java</li>
            <li>— Javascript</li>
            <li>— Html/CSS</li>
            <li>— Python</li>
        </ul>
        <h3>And Softwares?</h3>
        <p>Ok, I can use softwares, not only develop.</p>
        <ul>
            <li>— Microsoft Visual Studio</li>
            <li>— Android Studio</li>
            <li>— Pycharm, Clion</li>
            <li>— Unity</li>
            <li>— MySQL, MongoDB</li>
            <li>— GIT</li>
       <!--      <li>— </li>
            <li>— </li> -->
        </ul>
    </main>
    <footer>
        <div id="insertFooter"></div>
    </footer>
    <script src="../static/nav_and_footer.js" type="text/javascript"></script>
</body>
</html>