<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <style>
        .daisies {
            display: block;
            margin: 10px auto;
            box-shadow: 0px 0px 0px 1px #fff, 0px 2px 5px 1px #000;
            border: none;
        }
        h1{
            margin-left: 5%;
        }
    </style>
</head>
<body>
{#    <div display="inline-block" margin-left="5px">#}
        <h1>Be polite.</h1>
{#    </div>#}
    <img class="daisies" src="../static/images/bePolite.jpg">
</body>
</html>