<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who am I?</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>
<body>
    <header>
        <div id="insertNavMenu"></div>
    </header>
    <main>
        <h1>Do I have skills?</h1>
        <p>During all my work and study time I developed some skills, so I’d say I have some expertise. We’ll, maybe not, you can judge for yourself:</p>
        <h3>Skills</h3>
        <ul>
            <li>— Machine learning</li>
            <li>— Mobile development</li>
            <li>— Backend</li>
            <li>— Desktop application development</li>
            <li>— Game development</li>
            <li>— Algorithmic programming</li>
            <li>— Big data</li>
        </ul>
    </main>
    <footer>
        <div id="insertFooter"></div>
    </footer>
    <script src="../static/nav_and_footer.js" type="text/javascript"></script>
</body>
</html>